name: OSX CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
        python-version: ["3.5", "3.6", "3.7", "3.8"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install numcodecs
        run: |
          python -m pip install -U pip setuptools wheel
          python -m pip install -r requirements_dev.txt
          python -m pip install -r requirements_test.txt
          python -m pip install -v -e .

      - name: List installed packages
        run: python -m pip list

      - name: Run tests
        run: pytest -v --pyargs numcodecs